.accordion{
  &.active{
	header:before{
	  content:"\f068";
	}
  }
  header{
	background:$white;
	position:relative;
	&:before{
	  content: "\f067";
	  font-family: 'FontAwesome';
	  position:absolute;
	  line-height:62px;
	  color:$frColor;
	  border-left:1px solid $bg-default;
	  right:0;
	  top:0;
	  width:60px;
	  height:100%;
	  text-align:center;
	}
	a{
	  @include ellipsis();
	  display:block;
	  padding:20px 65px 20px 30px;
	  text-decoration:none;
	  color:$tc-sec;
	  font-weight:600;
	  position:relative;
	  z-index:10;
	}
  }
  .accordion-content{
	display:none;
	padding:25px 30px;
	background:$fvColor;
	line-height:28px;
	/*display:none;*/
  }
  & + .accordion{
	border-top:1px solid $bg-default;
  }
  &:first-child .accordion-content{
	display:block;
  }
}