.item-spot {
  position:relative;
  background:$white;
  min-height:262px;
  padding-left:300px;
  padding-right:30px;
  padding-top:15px;
  margin-bottom:10px;

  @media (max-width:1020px) {
	padding-left:15px;
	padding-right:15px;
	.item-content{
	  position:relative;
	}
  }

  a.view-item{
	@media (max-width:992px) {
	  position:relative;
	  right:auto;
	  top:auto;
	  margin-bottom:30px;
	}
	text-align:center;
	position:absolute;
	top:30px;
	right:0;
	font-size:12px;
	font-weight:700;
	text-transform:uppercase;
	display:inline-block;
	padding:15px 30px;
	text-decoration:none;
	border:2px solid $terColor;
	color:inherit;
	&:hover{
	  background:$priColor;
	  color:$white;
	  border-color:$priColor;
	}
  }
  .inner{
	padding-right:135px;
	position:relative;
	padding-top:30px;
	@media (max-width:992px) {
	  padding-right:0;
	}
	@media (max-width:479px) {
	  padding-top:10px;
	}
	p{
	  padding-bottom:15px;
	  margin:0;
	  line-height:28px;

	}

  }
  header{
	padding-bottom:25px;
	padding-right:130px;
	border-bottom:1px solid $c17;
	a {
	  color:inherit;
	}
	h2,h3,h4{
	  a{
		display:block;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		@media (max-width:1020px) {
		  white-space:normal;
		}
	  }
	}
  }
  .breadcrumb{
	margin-bottom:10px;
	color:$c16;
	font-size:13px;
	a{
	  color:inherit;
	}
  }
  .imgAsBg{
	position:absolute;
	left:0;
	top:0;
	width:270px;
	height:100%;
	@media (max-width:1020px) {
	  position:relative;
	  width:100%;
	  height:250px;
	}
  }
  .item-info-short{
	font-size:13px;
  }
  .item-info{
	@media(max-width:767px){
	  .uzr-panel &{
		display:none;
	  }
	}
	margin:0;
	padding:0;
	font-size:14px;
	li{
	  display:inline-block;
	  margin-right:15px;
	  i{
		margin-right:5px;
		color:$priColor;
	  }
	  a{
		color:inherit;
	  }
	}
  }
  &.featured{
	background:$c18;
  }
  .price-tag{
	font-size:20px;
	color:$tc-sec;
	font-weight:700;
	@media(max-width:767px){
	  .uzr-panel .items-list-md.style2 &{
		display:none;
	  }
	}
  }
  .item-actions{
	position:absolute;
	top:32px;
	right:0;
	width:160px;
	@media (max-width:1020px) {
	  top:0;
	  width:120px;
	}
	@media (max-width:479px) {
	  position:relative;
	  right:auto;
	  padding-top:20px;
	  clear:both;
	  width:100%;
	  min-height:50px;
	}

	.price-tag{
	  padding:30px 0 0;
	  @media (max-width:479px) {
		padding:0;
		float:right;
	  }
	}
	.contact-options{
	  @media (max-width:479px) {
		float:left;
	  }
	  margin:0;
	  padding:0;
	  li{
		display:inline-block;
		margin:0 2px;
		a{
		  display:block;
		  text-decoration:none;
		  margin-right:2px;
		  height:30px;
		  width:30px;
		  text-align:center;
		  line-height:30px;
		  border-radius:50%;
		  color:$frColor;
		  font-size:12px;
		  position:relative;
		  background:$fvColor;
		  &:hover{
			color:$white;
		  }
		  &.fa-envelope:hover{
			background:$secColor;
		  }
		  &.fa-phone:hover{
			background:$priColor;
		  }
		  &.fa-heart:hover{
			background:$c12;
		  }
		}
	  }
	}
  }
  @media (min-width:993px) {
	.items-grid-style & {
	  @media (max-width:1199px) {
		width:50%;
	  }
	  width:33.3333334%;
	  float:left;
	  height:auto;
	  padding:0 5px;
	  background:none;
	  a.view-item {
		position:relative;
		right:auto;
		top:auto;
		display:block;
	  }
	  .imgAsBg {
		background:none;
		position:relative;
		left:auto;
		height:auto;
		width:auto;
		img {
		  display:block;
		  width:100%;
		}
	  }
	  .item-content {
		background:$white;
		padding:10px 30px 30px;

		header {
		  padding:0 0 20px;
		}
		.inner {
		  padding:0;
		  p {
			margin:25px 0;
		  }
		}
		.item-actions {
		  border-bottom:1px solid $c17;
		  padding:10px 0;
		  height:50px;
		  position:relative;
		  top:auto;
		  right:auto;
		  width:100%;
		  .price-tag {
			float:left;
			padding:0;
		  }
		  .contact-options {
			float:right;
		  }
		}
	  }
	}
  }

  .items-grid-style.grid-4 &{
	width:25%;
	float:left;
	@media(max-width:1199px){
	  width:33.3333334%;
	}
	@media(max-width:1020px){
	  width:50%;
	}
	@media(max-width:767px){
	  header{
		padding-right:0;
	  }
	  width:100%;
	  float:none;
	}
  }

}

.items-grid-style{
  .featured .item-content{
	background:$c18;
  }
}

.items-list-md{
  padding-top:8px;
  .item-content{
	position:static;
  }
  .dashboard-btn-actions{
	width:126px;
	position:absolute;
	right:40px;
	top:50%;
	margin-top:-55px;
	@media(max-width:767px){
	  position:relative;
	  padding-bottom:15px;
	  right:auto;
	  top:auto;
	  margin-top:15px;
	}
	a.btn{
	  margin:10px 0;
	  display:block;
	  text-align:center;
	}
  }
  &.style2{
	padding-top:30px;
	.item-info-short{
	  margin-bottom:4px;
	  display:block;
	}

  }
  & > h2,& > h3,& > h4,& > h5{
	margin-bottom:20px;
  }
  &.style2 .items-list{
	.item-spot{

	  &.item-moderated{
		background:$c20;
	  }
	  &.item-selected{
		background:$c21;
	  }
	  margin-bottom:2px;
	  padding-left:160px;
	  padding-right:260px;
	  height:130px;
	  @media(max-width:767px){
		padding-right:20px;
		height:auto;
	  }
	  @media(max-width:475px){
		padding-left:20px;
	  }
	  .imgAsBg{
		width:130px;
		@media(max-width:475px){
		  display:none !important;
		}
	  }
	  header{
		padding-right:0;
		h6{
		  margin:10px 0;
		  color:$tc-sec;
		}
	  }
	  .price-tag{
		font-weight:600;
	  }
	}
  }
  &.style3.style2{
	.item-spot{
	  padding-right:200px;
	  margin-bottom:10px;
	  @media(max-width:767px){
		padding-right:20px;
	  }
	}
  }
  &.style2 .items-grid-style{
	.item-spot{
	  height:auto;
	  padding:0 5px;
	  .item-content{
		padding-bottom:25px;
	  }
	  .imgAsBg{
		position:relative;
		width:100%;
		height:auto;
	  }
	  .dashboard-btn-actions{
		position:relative;
		margin:15px 0 0;
		top:auto;
		right:auto;
		width:100%;
	  }
	}
  }
  .items-list{
	margin-left:0;

	.item-spot{
	  padding-left:200px;
	  height:145px;
	  min-height:0;
	  header{
		border-bottom:none;
		padding-bottom:5px;
		h2,h3,h4,h5{
		  margin-bottom:5px;
		}
	  }
	  .imgAsBg{
		width:170px;
		position:absolute;
		left:0;
		top:0;
		height:100%;
	  }
	  a.view-item{
		padding:10px 30px;
		position:relative;
		right:auto;
		top:auto;
		margin-top:20px;
	  }
	  .price-tag{
		font-size:16px;
	  }
	}
  }
}

.item-thumb{
  background:$white;
  padding:10px;
  position:relative;
  text-align:center;
  margin:0 0 30px;
  .basic-info{
	position:absolute;
	top:20px;
	right:10px;
	width:95px;
	padding:15px 5px;
	background:rgba($tc-sec,0.8);
	font-size:16px;
	font-weight:600;
	color:$white;
	span.cat{
	  position:absolute;
	  top:100%;
	  width:100%;
	  left:0;
	  text-transform:uppercase;
	  font-weight:700;
	  font-size:10px;
	  padding:10px 5px;
	  background:$priColor;
	}
  }
  h3{
	font-size:16px;
	font-weight:400;
	margin:10px 0;
  }
  > a{
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	right:0;
	text-indent:-999999px;
	display:block;
  }
  @media(max-width:767px){
	max-width:380px;
	margin-left:auto;
	margin-right:auto;
  }
}

.items-grid-listing{
  max-width:1900px;
  margin:auto;
  padding:5px 0;
  > div{
	padding:0 5px;
	.item-unit{
	  float:left;
	  width:33.333334%;
	  padding:5px;
	  .inner {
		a.view-detail-page{
		  position:absolute;
		  left:0;
		  top:0;
		  right:0;
		  bottom:0;
		  text-indent:-99999px;
		  display:block;
		  z-index:500;
		}
		height:436px;
		position:relative;
		&:before {
		  content:"";
		  position:absolute;
		  bottom:0;
		  height:80%;
		  width:100%;
		  left:0;
		  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(0,0,0,0.8) 100%);
		  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.8) 100%);
		  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.8) 100%);
		  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#cc000000',GradientType=0 );

		}
		.item-caption{
		  position:absolute;
		  bottom:0;
		  left:0;
		  width:100%;
		  padding:30px;
		  h3{
			margin:0;
			text-transform:capitalize;
			color:$white;
			span{
			  font-weight:700;
			  display:block;
			}
			@media (max-width:1400px) {
			  font-size:18px;
			}
			@media (max-width:1200px) {
			  font-size:16px;
			}
		  }
		}
	  }
	  @media(max-width:600px){
		width:100%;
		float:none;
	  }
	}
  }
  > div:nth-child(even){
	.item-unit{
	  width:25%;
	  @media(max-width:992px){
		width:50%;
	  }
	  @media(max-width:600px){
		width:100%;
		float:nonw;
	  }
	}

  }
}

.single-similar-items{
  @media(max-width:1020px){
	display:none;
  }
}