.cat-boxes{
  .uzr-panel &{
	margin:0 -15px;
	padding:15px 0;
	@media(max-width:400px){
	  margin:0;
	}
  }
  .cat-box{
	display:block;
	text-decoration:none;
	width:16.66666667%;
	float:left;
	padding:3px;
	font-size:$fs-small;
	font-weight:600;
	text-transform:uppercase;
	text-align:center;
	color:$tc-sec;
	.uzr-panel &{
	  width:33.3333334%;
	  padding:15px;
	  @media(max-width:767px){
		width:50%;
	  }
	  @media(max-width:400px){
		width:100%;
		float:none;
		padding:0;
		margin-bottom:10px;
	  }
	}
	.inner{
	  position:relative;
	  padding:25px 10px;
	  background:$white;
	  -webkit-box-shadow:0 0 0 0 rgba(0, 0, 0, 0); -moz-box-shadow:0 0 0 0 rgba(0, 0, 0, 0); box-shadow:0 0 0 0 rgba(0, 0, 0, 0);
	  &:hover{
		z-index:20;
		-webkit-box-shadow:0 0 21px 9px rgba(0, 0, 0, 0.14); -moz-box-shadow:0 0 21px 9px rgba(0, 0, 0, 0.14); box-shadow:0 0 21px 9px rgba(0, 0, 0, 0.14);
	  }
	  > div{
		width:85px;
		height:85px;
		border-radius:50%;
		line-height:85px;
		color:$white;
		font-size:50px;
		margin:0 auto 30px;
		background:$priColor;
		.uzr-panel &{
		  font-size:35px;
		}
	  }
	}
	@media(max-width:1023px){
	  width:25%;
	}
	@media(max-width:767px){
	  width:33.3333334%;
	}
	@media(max-width:500px){
	  width:50%;
	}
  }
}

