.short-cart{
  position:relative;
  padding:30px;
  ul{
	margin:0;
	padding:0;
	li{
	  &:first-child{
		padding-top:1px;
		figure{
		  top:1px;
		}
		a.remove-item{
		  margin-top:-25px;
		}
	  }
	  border-bottom:1px solid #f5f5f5;
	  position:relative;
	  display:block;
	  padding:20px 20px 20px 80px;
	  figure{
		position:absolute;
		left:0;
		top:20px;
		width:60px;
	  }
	  a.item-title{
		font-size:14px;
		font-weight:600;
		color:$tc-sec;
		display:block;
		margin-top:7px;
		margin-bottom:2px;
	  }
	  span{
		font-weight:700;
		font-size:12px;
	  }
	  a.remove-item{
		width:30px;
		height:30px;
		line-height:30px;
		position:absolute;
		right:0;
		text-align:right;
		top:50%;
		margin-top:-15px;
		color:$frColor;
	  }
	}
  }
  table{
	width:100%;
	td{
	  padding:15px 0;
	  font-size:14px;
	  font-weight:600;
	  &:last-child{
		text-align:right;
	  }
	  strong{
		display:block;
		font-weight:700;
	  }
	}
  }
  a.btn{
	text-align:center;
  }
}