.search-widget{
  background:$fvColor;
  position:relative;
  height:$h40;
  margin-bottom:20px;
  input[type="text"]{
	background:none;
	border:none;
	width:100%;
	height:100%;
	padding-left:15px;
	padding-right:40px;
	max-width:none;
  }
  button[type="submit"]{
	border:none;
	width:$h40;
	height:100%;
	position:absolute;
	right:0;
	top:0;
	color:$c14;
	background:none;
  }
  .uzr-panel &{
	max-width:220px;
  }

  &.style2{
	padding-right:170px;
	background:none;
	button[type="submit"]{
	  width:160px;
	  background:$secColor;
	  color:$white;
	  font-size:14px;
	  font-weight:700;
	}
  }
}